.main{
    position: relative;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    position: absolute;
    top: 35vh;
    left: 20vw;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    position: absolute;
    top: 35vh;
    right: 20vw;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    position: absolute;
    top: 4vh;
    left: 36vw;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    position: absolute;
    bottom: -96vh;
    left: 36vw;
}

body{
    background-color: #00ffff2e;
}
button{
    background-color: #00ffff70;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s;
    outline: none;
}

button:hover{
    scale: 1.1;
    background-color: #c0c0c04d;
    color: white;
    font-size: medium;
}

